<header class="jumbotron subhead" id="overview">
  <div class="row">
    <div class="span12">
      <h2>
        Changelog
        <small>Fasten your seatbelts. Timewarp starts soon.</small>

        <a href="http://flattr.com/thing/1259407/Sequelize" target="_blank" style="float: right; position: relative; top: 10px;">
          <img src="http://api.flattr.com/button/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0" />
        </a>
      </h2>
      <p class="lead">
        This page contains the history of the project. Thanks to anyone who has been involved in the development and who has been reporting issues. A special thanks goes to the core contributors as well. Things would be pretty hard without them :)
      </p>
    </div>
  </div>
</header>

<% changelog.each_with_index do |log, i| %>
  <section><%= markdown log[0] %></section>
<% end %>
