extends main

block content
  .container-liquid
    .row
      .col-sm-4.mid-blue.sidebar
        .headline-spacer
        section.navigation
          h2 Documentation
          ul
            each subs, name in sections
              - isActiveSection = (name === section)
              - sectionPath     = "/docs/" + version + "/" + name
              li(class=(isActiveSection ? 'active' : ''))
                a(href=sectionPath)= name.charAt(0).toUpperCase() + name.slice(1)
                if isActiveSection && subs.length > 0
                  ul
                    each item in subs
                      li
                        a(href=sectionPath + "#" + item.anchor)= item.text
        .clearfix
      .col-sm-8.beige.content
        block documentation

block bottom
  script(src="/javascripts/documentation.js")
