doctype html
html
  head
    title
      = ["Sequelize", title].join(" - ")
    link(rel="shortcut icon", type="image/x-icon", href="/favicon.ico")
    link(rel='stylesheet', href='/stylesheets/style.css')
    block head

  body(id=bodyId)
    .navbar.navbar-default.navbar-fixed-top(role='navigation')
      .container-liquid
        .col-sm-3.navbar-left
          section
            a.navbar-brand(href='/')
              img(src="/images/logo-small.png")
              span Sequelize
            .clearfix
        .col-sm-8.navbar-right
          section
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar

            .navbar-collapse.collapse
              ul.nav.navbar-nav
              ul.nav.navbar-nav.navbar-right
                li(class=(activeNavItem === 'home' ? 'active' : ''))
                  a(href='/')
                    span.glyphicon.glyphicon-home
                    span.spacer &nbsp;
                    span.text Home
                li(class=(activeNavItem === 'docs' ? 'active' : ''))
                  a(href='/docs')
                    span.glyphicon.glyphicon-info-sign
                    span.spacer &nbsp;
                    span.text Docs
                li(class=(activeNavItem === 'articles' ? 'active' : ''))
                  a(href='/articles')
                    span.glyphicon.glyphicon-book
                    span.spacer &nbsp;
                    span.text Articles
                li(class=(activeNavItem === 'changelog' ? 'active' : ''))
                  a(href='/changelog')
                    span.glyphicon.glyphicon-list
                    span.spacer &nbsp;
                    span.text Changelog
                li(class=(activeNavItem === 'blog' ? 'active' : ''))
                  a(href='/blog')
                    span.glyphicon.glyphicon-comment
                    span.spacer &nbsp;
                    span.text Blog
                li(class=(activeNavItem === 'search' ? 'active' : ''))
                  a.search(href='/search')
                    i.fa.fa-search
                    span.spacer &nbsp;
                    span.text Search

    block content

    .imprint.very-dark-blue
      .container
        .col-sm-4
          | &copy;
          | Sascha Depold,
          | <a href="https://github.com/sequelize/sequelize-doc/graphs/contributors" target="_blank" rel="nofollow">et al.</a>
          | 2006 -&nbsp;
          = new Date().getFullYear()
        .col-sm-8(style="text-align: right")
          a(href="/imprint") Imprint

    script(src='/javascripts/jquery-1.10.2.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src="/javascripts/highlight.pack.js")
    script(src="/javascripts/main.js")

    block bottom

    script(type="text/javascript").
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-9039631-4']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
