doctype 5
html
  head
    title
      = ["Sequelize", title].join(" - ")
    link(rel="shortcut icon", type="image/x-icon", href="/favicon.ico")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="http://yandex.st/highlightjs/7.5/styles/ir_black.min.css")

  body
    .navbar.navbar-default.navbar-fixed-top(role='navigation')
      .container-liquid
        .col-sm-4.navbar-left
          section
            a.navbar-brand(href='/')
              img(src="/images/logo-small.png")
              span Sequelize
            .clearfix
        .col-sm-8.navbar-right
          section
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar

            .navbar-collapse.collapse
              ul.nav.navbar-nav
              ul.nav.navbar-nav.navbar-right
                li(class=(activeNavItem === 'home' ? 'active' : ''))
                  a(href='/') Home
                li(class=(activeNavItem === 'docs' ? 'active' : ''))
                  a(href='/docs') Docs
                li(class=(activeNavItem === 'articles' ? 'active' : ''))
                  a(href='/articles') Articles
                li(class=(activeNavItem === 'changelog' ? 'active' : ''))
                  a(href='../navbar-fixed-top/') Changes
                li(class=(activeNavItem === 'blog' ? 'active' : ''))
                  a(href='../navbar-fixed-top/') Blog

    block content

    script(src='https://code.jquery.com/jquery-1.10.2.min.js')
    script(src="http://yandex.st/highlightjs/7.5/highlight.min.js")
    script hljs.initHighlightingOnLoad();

    block bottom
