extends main

block content
  .container-liquid
    .row.documentation
      .col-sm-2.mid-blue.sidebar
        .headline-spacer
        section.navigation
          ul
            each section in sections
              - isActiveSection = (section.permalink === permalink)
              li(class=(isActiveSection ? 'active' : ''))
                a(href=section.url)= section.title
                if (section.showSubSections || isActiveSection) && section.subSections.length > 0
                  ul
                    each item in section.subSections
                      - url = item.url || (section.url + "#" + item.anchor)
                      li
                        a(href=url)= item.text
        .clearfix
      .col-sm-9.col-sm-offset-1.beige.content
        block documentation

block bottom
  script(src="/javascripts/documentation.js")
