section#installation
  p You can install Sequelize via NPM or just download the code from the git repository and require it's entry file index.js:

  pre.prettyprint.linenums
    | # npm:
    | npm install sequelize
    | var Sequelize = require("sequelize")
    | &nbsp;
    | # checkout:
    | cd path/to/lib
    | git clone git://github.com/sdepold/sequelize.git
    | var Sequelize = require(__dirname + "/lib/sequelize/index")

  p This will make the class <code>Sequelize</code> available.
