section#usage
  .subnav
    ul.nav.nav-pills
      li
        a(href='#usage-basics') Basic usage
      li
        a(href='#usage-options') Options
      li
        a(href='#usage-dialects') Dialects

  section#usage-basics
    p To get the ball rollin' you first have to create an instance of Sequelize. Use it the following way:

    pre.prettyprint.linenums
      | var sequelize = new Sequelize('database', 'username'[, 'password'])

  section#usage-options.v1-4-0.v1-5-0
    p This will save the passed database credentials and provide all further methods. Furthermore you can specify a non-default host or port and some options:

    pre.prettyprint.linenums
      | var sequelize = new Sequelize('database', 'username', 'password', {
      |   host: "my.server.tld",
      |   port: 12345
      | })
      | &nbsp;
      | // No need for password?
      | var sequelize = new Sequelize('database', 'username'[, null])
      | &nbsp;
      | // All options at once:
      | var sequelize = new Sequelize('database', 'username', 'password', {
      |   // custom host; default: localhost
      |   host: 'my.server.tld',
      | &nbsp;
      |   // custom port; default: 3306
      |   port: 12345,
      | &nbsp;
      |   // custom protocol
      |   // - default: 'tcp'
      |   // - added in: v1.5.0
      |   // - postgres only, useful for heroku
      |   protocol: null,
      | &nbsp;
      |   // disable logging; default: console.log
      |   logging: false,
      | &nbsp;
      |   // max concurrent database requests; default: 50
      |   maxConcurrentQueries: 100,
      | &nbsp;
      |   // the sql dialect of the database
      |   // - default is 'mysql'
      |   // - currently supported: 'mysql', 'sqlite'
      |   dialect: 'mysql',
      | &nbsp;
      |   // the storage engine for sqlite
      |   // - default ':memory:'
      |   storage: 'path/to/database.sqlite',
      | &nbsp;
      |   // disable inserting undefined values as NULL
      |   // - default: false
      |   omitNull: true,
      | &nbsp;
      |   // specify options, which are used when sequelize.define is called
      |   // the following example is basically the same as:
      |   // sequelize.define(name, attributes, { timestamps: false })
      |   // so defining the timestamps for each model will be not necessary
      |   define: { timestamps: false },
      | &nbsp;
      |   // similiar for sync: you can define this to always force sync for models
      |   sync: { force: true }
      | &nbsp;
      |   // use pooling in order to reduce db connection overload and to increase speed
      |   // currently only for mysql
      |   pool: { maxConnections: 5, maxIdleTime: 30}
      | })

    p.v1-4-0
      | You can also define a custom function for the logging part. Just pass a function.
      | The first parameter will be the string that is logged.

  section#usage-dialects.v1-4-0
    h3 SQL dialects
    p
      | With v1.3.0 of Sequelize, it is possible to use non-mysql dialects.
      | For now sqlite is available, but other dialects can and will be
      | implemented. Here is how you do it.
      | As describe before, you can pass the wanted dialect to the sequelize
      | instantiation (and for sqlite define the storage):
    pre.prettyprint.linenums
      | // All options at once:
      | var sequelize = new Sequelize('database', 'username', 'password', {
      |   // the sql dialect of the database
      |   // - default is 'mysql'
      |   // - currently supported: 'mysql', 'sqlite', 'postgres'
      |   dialect: 'mysql',
      | &nbsp;
      |   // the storage engine for sqlite
      |   // - default ':memory:'
      |   storage: 'path/to/database.sqlite'
      | })

    h4 SQLite
    p
      | Due to the default of mysql you have to specifically install the sqlite
      | library. In order to do this, just change the dependencies in your
      | package.json and add <code>node-sqlite3</code>:
    pre.prettyprint.linenums
      | {
      |   "name": "my project",
      |   // ...
      |   "dependencies": {
      |     // ...
      |     "sqlite3": ">=2.0.0",
      |     "sequelize": "1.3.x",
      |     // ...
      |   }
      |   // ...
      | }
    p
      | That's it. Besides some strangeness in SQLite you won't notice any differences
      | while using it with sequelize.
    p
      | Notice: The ">="-operator is used for compatibility to Node 0.4 - 0.6.

    h4.v1-4-0 PostgreSQL
    p
      | When defining the dialect as <code>postgres</code> you'll be able
      | to access PostgreSQL databases. The used and expected library is
      | <code>pg</code>. Please install it before switching to
      | <code>postgres</code> dialect. Again a recommendation for your
      | <code>package.json</code>.
    pre.prettyprint.linenums
      | {
      |   "name": "my project",
      |   // ...
      |   "dependencies": {
      |     // ...
      |     "pg": "0.6.x",
      |     "sequelize": "1.3.x",
      |     // ...
      |   }
      |   // ...
      | }
