extends ../layout

block documentation
  section
    div
      h2 Installation

      p You have two options to install Sequelize:
      p Install it via NPM:

      pre.dark-blue
        code.bash
          | # Use npm on the commandline:
          | $ npm install sequelize

      pre.dark-blue
        code.javascript
          | // Then require the installed library in your application code:
          | var Sequelize = require("sequelize")

      p 2. Download the code from the git repository and require it's entry file index.js:

      pre.dark-blue
        code.bash
          | # Checkout the current code from the repository using the commandline
          | cd path/to/lib
          | git clone git://github.com/sequelize/sequelize.git

      p Then require the installed library in your application code:

      pre.dark-blue
        code.javascript
          | var Sequelize = require(__dirname + "/lib/sequelize/index")

      p This will make the class `Sequelize` available.
