extends layout

block content
  .jumbotron
    .row
      table
        td.col-md-4(style="vertical-align: top")
          img(src="/images/logo.png", width='100%')
        td.col-md-8
          h1 Sequelize

          p(style="margin: 1em 0")
            | The Sequelize library provides easy access to MySQL, MariaDB, SQLite or PostgreSQL
            | databases by mapping database entries to objects and vice versa.
            | To put it in a nutshell, it's an ORM (Object-Relational-Mapper).
            | The library is written entirely in JavaScript
            | and can be used in the Node.JS environment.

          p
            a.btn.btn-lg.btn-primary(href='../../components/#navbar', role='button') View navbar docs »
