extends layout

block content
  section.beige.full-height
    .container.full-height
      .jumbotron.full-height
        .row.full-height
          table.full-height
            td.col-md-4.full-height
              img(src="/images/logo.png", width='100%')
            td.col-md-8.full-height
              h1 Sequelize

              p(style="margin: 1em 0")
                | The Sequelize library provides easy access to MySQL, MariaDB, SQLite or PostgreSQL
                | databases by mapping database entries to objects and vice versa.
                | To put it in a nutshell, it's an ORM (Object-Relational-Mapper).
                | The library is written entirely in JavaScript
                | and can be used in the Node.JS environment.

              p.shortcuts
                a.btn.btn-primary(href='/articles/getting-started', role='button') Getting started
                a.btn.btn-default(href='/articles/express', role='button', style="margin-left: 10px") Use with Express
                a.btn.btn-default(href='/articles/heroku', role='button', style="margin-left: 10px") Use on Heroku
                a.btn.btn-default(href='http://sequelize.readthedocs.org', role='button', style="margin-left: 10px") API Reference
                a.btn.btn-info(href='https://github.com/sequelize/sequelize', role='button', style="margin-left: 10px", target="_blank", rel="nofollow")
                  | Fork on Github

  section.light-blue
    .container
      .jumbotron
        h2.centered Easy installation
        pre.dark-blue
          code.bash
            | $ npm install sequelize
            | $ npm install mysql

        h2.centered Simple usage
        pre.dark-blue
          code.javascript
            | var Sequelize = require('sequelize')
            |   , sequelize = new Sequelize('database', 'username', 'password')
            | &nbsp;
            | var User = sequelize.define('User', {
            |   username: Sequelize.STRING,
            |   birthday: Sequelize.DATE
            | })
            | &nbsp;
            | sequelize.sync().success(function() {
            |   User.create({
            |     username: 'sdepold',
            |     birthday: new Date(1986, 06, 28)
            |   }).success(function(sdepold) {
            |     console.log(sdepold.values)
            |   })
            | })

  section.dark-blue.users
    .container
      .jumbotron
          h2.centered Trusted and used by
          .row
            .col-md-4
              a(href="/docs/latest/misc#shutterstock")
                img(src="/images/users/shutterstock.png")
            .col-md-4
              a(href="/docs/latest/misc#clevertech")
                img(src="/images/users/clevertech.png")
            .col-md-4
              a(href="/docs/latest/misc#metamarkets")
                img(src="/images/users/metamarkets.png")
          .row
            .col-md-4(style="text-align: center")
              a(href="/docs/latest/misc#filsh", style="display: inline-block")
                img(src="/images/users/filsh.png")
