<!DOCTYPE html>
<html>
  <head>
    <meta content='en' http-equiv='language'>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta name="google-site-verification" content="Q__16qwCEU1OAvReck5xJcY3C8pyJ46_P7agzq3qRVM" />

    <title>Sequelize ∴ An easy-to-use multi sql dialect object-relationship-mapper for node.js</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap.united.min.css">
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/js/components/Font-Awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/js/components/prism/prism.css">
    <link rel="stylesheet" href="/css/screen.css">
  </head>

  <body data-spy="scroll" data-target=".subnav" data-offset="80">
    <nav>
      <%= erb :navigation %>
    </nav>
    <div class="container">
      <%= yield %>
    </div>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-9039631-4']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

    <script src="/js/components/jquery/jquery.js"></script>
    <script src="/js/components/bootstrap/js/bootstrap-affix.js"></script>
    <script src="/js/components/bootstrap/js/bootstrap-alert.js"></script>
    <script src="/js/components/bootstrap/js/bootstrap-button.js"></script>
    <script src="/js/components/bootstrap/js/bootstrap-carousel.js"></script>
    <script src="/js/components/bootstrap/js/bootstrap-collapse.js"></script>
    <script src="/js/components/bootstrap/js/bootstrap-dropdown.js"></script>
    <script src="/js/components/bootstrap/js/bootstrap-modal.js"></script>
    <script src="/js/components/bootstrap/js/bootstrap-tooltip.js"></script>
    <script src="/js/components/bootstrap/js/bootstrap-popover.js"></script>
    <script src="/js/components/bootstrap/js/bootstrap-scrollspy.js"></script>
    <script src="/js/components/bootstrap/js/bootstrap-tab.js"></script>
    <script src="/js/components/bootstrap/js/bootstrap-transition.js"></script>
    <script src="/js/components/bootstrap/js/bootstrap-typeahead.js"></script>
    <script src="/js/components/prism/prism.js" data-manual></script>
    <script src="/js/application.js"></script>
  </body>
</html>
