<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Sequelize &raquo; A MySQL Object-Relational-Mapper for NodeJS</title>

    <link href="/stylesheets/bootstrap.min.css">
    <link href="/stylesheets/bootstrap-responsive.min.css">
    <link href="/stylesheets/docs.css" rel="stylesheet">
    <link href="/javascripts/google-code-prettify/prettify.css" rel="stylesheet">

    <script src="/javascripts/jquery-1.7.1.min.js"></script>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-9039631-4']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body data-spy="scroll" data-target=".subnav" data-offset="50">
    <div class="container">
      <%- body %>
    </div>
  </body>
</html>
