!!! 5
html
  head
    title= title

    link(rel="stylesheet", href='/stylesheets/bootstrap.min.css')
    link(rel="stylesheet", href='/stylesheets/bootstrap-responsive.min.css')
    link(rel="stylesheet", href='/stylesheets/prettify.css')

    style
      body {
        padding-top: 60px;
      }

    script(src="/javascripts/jquery-1.7.1.min.js")
    script(src="/javascripts/prettify.js")
    script(src="/javascripts/bootstrap.min.js")

    script
      $(function() {
        window.prettyPrint && prettyPrint()
      })

  body(data-spy="scroll")
    .navbar.navbar-fixed-top!= partial('navigation', { sections: sections })
    .container!= body

    script
      /*
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-9039631-4']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
      */
