!!! 5
html
  head
    title!= title + " &raquo; " + subtitle

    link(rel="stylesheet", href='/stylesheets/bootstrap.min.css')
    link(rel="stylesheet", href='/stylesheets/bootstrap-responsive.min.css')
    link(rel="stylesheet", href='/stylesheets/prettify.css')
    link(rel="stylesheet", href='/stylesheets/styles.css')

    script(src="/javascripts/lib/jquery-1.7.1.min.js")
    script(src="/javascripts/lib/prettify.js")
    script(src="/javascripts/lib/bootstrap.min.js")
    script(src="/javascripts/src/sequelize-doc.js?" + (Math.random() * 9999999))
    script(src="/javascripts/src/sub-navigation.js")

    script
      $(function() {
        SequelizeDoc.init("#{version}")
        $('.navbar').scrollspy()
      })

  body(data-spy="scroll", data-target=".subnav")
    .navbar.navbar-fixed-top
      != partial('navigation', { sections: sections })
    .container!= body
    .footer
      .container
        .right
          | Current Sequelize release: v#{version}
        .left
          | Copyright © 2010 -
          = new Date().getFullYear()
          | , Sascha Depold.

    - if (inProduction) {
      script
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-9039631-4']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    - }
