</p>
<a name="compatibility"></a>
<h3>Sequelize is compatible to the following versions of Node.JS:</h3>

<ul>
  <li>0.4.12</li>
  <li>0.5.10</li>
  <li>0.6.6</li>
</ul>

<a name="asynchronicity"></a>
<p>
<h3>Multiple ways of handling the asynchronicity is possible:</h3>

Since v1.3.0 there are multiple ways of adding listeners to asynchronous requests.
First of all, each time you call a finder method or save an object, sequelize triggers
asynchronous logic. To react to the success or the failure of the request, you can do the
following:

<pre><%- koala(".js", partial("code/additional/async.ejs")) %></pre>
