OK... you can define classes and associations. You can save them. You would probably like to get them from
the database again ;-) Easy:

<a name="find-basics" data-title="basics"></a>
<pre>
  <%-
    koala(".js", partial("code/find-objects/basics.ejs"))
      .replace(/(<span class="class">Project<\/span>.<span class="variable">all<\/span>.*{)/g, '<div style="display: inline-block; text-decoration: line-through;">$1</div> // changed in v1.3.0<br/><span class="class">Project</span>.<span class="variable">all()</span>.<span class="variable">success</span>(<span class="keyword">function</span>(<span class="variable">projects</span>) {')
  %>
</pre>

Of course you can pass a some options to the finder methods, to get more relevant data:

<a name="find-options" data-title="options"></a>
<pre><%- koala(".js", partial("code/find-objects/options.ejs")) %></pre>

There is also a method for counting database objects:

<a name="find-count" data-title="count"></a>
<pre><%- koala(".js", partial("code/find-objects/count.ejs")) %></pre>

And here is a method for getting the min and the max value of an attribute:

<a name="find-min-max" data-title="min/max value"></a>
<pre><%- koala(".js", partial("code/find-objects/min-max.ejs")) %></pre>
