<% sections = ['getting_started', 'minimal_express_app', 'deployment', 'database', 'sequelize', 'tl_dr'] %>

<header class="jumbotron subhead" id="overview">
  <div class="row">
    <div class="span12">
      <h2>
        Sequelize on Heroku
        <small>using PostgreSQL</small>

        <a href="http://flattr.com/thing/1259407/Sequelize" target="_blank" style="float: right; position: relative; top: 10px;">
          <img src="http://api.flattr.com/button/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0" />
        </a>
      </h2>
      <p class="lead">
        This section covers the use of Sequelize on Heroku. It will explain how to get started with Heroku and what is necessary
        to setup a proper environment. We will use MySQL on the development machine and PostgreSQL on the remote servers.
      </p>
    </div>
  </div>
</header>

<% sections.each do |section| %>
  <div class="row">
    <div class="span12">
      <%= markdown("articles/heroku/_#{section.downcase}".to_sym) %>
    </div>
  </div>
<% end %>
