extends ../layouts/docs

block documentation
  section
    div
      h2 Getting started

      p noot
      br
      p noot
      br
      p noot
      br
      p noot
      br
      p noot
      br
      p noot
      br
      p noot
      br
      p noot
      br
      p noot
      br
      p noot
      br
      p noot
      br
      p noot
      br
      p noot
      br
      p noot
      br
      p noot
      br
      p noot
      br
      p noot
      br
