.code-anchor {
  display: inline-block;
  text-decoration: none;
  color: #f8f8f8;

  &:hover, &:focus {
    background: very-dark-blue;
    text-decoration: none;
    outline: 0;
    color: #f8f8f8;
  }
}
