light-blue     = #4BAFEA
beige          = #f7f6f1
mid-blue       = #3B7CB9
dark-blue      = #314267
very-dark-blue = #14233D

.beige { background-color: beige }
.light-blue { background-color: light-blue }
.mid-blue { background-color: mid-blue }
.dark-blue { background-color: dark-blue }
.very-dark-blue { background-color: very-dark-blue }

.light-blue, .mid-blue, .dark-blue, .very-dark-blue {
  color: white
}
