.company-or-project {
  h4 {
    padding-top: 90px;
    border-bottom: 1px dotted #333;
    padding-bottom: 5px;
    text-decoration: none !important
  }

  .col-md-4 {
    margin-top: 23px
    text-align: right
  }
}
