body#search {
  .jumbotron {
    i.fa.fa-search { font-size: 160px }

    @media (max-width: 992px) and (min-width: 768px) {
      i.fa.fa-search { font-size: 120px }
    }

    @media (max-width: 768px) {
      i.fa.fa-search { font-size: 80px }
    }

    @media (max-width: 500px) {
      i.fa.fa-search { font-size: 50px }
    }
  }

  .gsc-selected-option {
    font-size: 9px
  }

  .gsc-search-button {
    input {
      height: 26px;
    }
  }
}
