@import "bootstrap.min.css";
@import "bootstrap-theme.min.css";
@import url("http://fonts.googleapis.com/css?family=Ubuntu");
body  body .navbar .navbar-brand span {
    font-size: 35px;
    position: relative;
    top: 8px;
    left: 15px;
    color: #3b7cb9;
  }
  body .navbar .navbar-brand img {
    width: 60px;
  }
@media (max-width: 768px) {
    body .navbar .navbar-toggle {
      margin-top: 30px;
    }
}
  body .navbar ul.nav.navbar-nav {
    margin-top: 25px;
    font-size: 16px;
  }
  body .navbar ul.nav.navbar-nav li a {
    padding: 10px 20px;
  }
  body .navbar ul.nav.navbar-nav li.active a {
    box-shadow: none;
    background: #3b7cb9;
    border-radius: 20px;
    color: #fff;
  }
  body .main {
    margin-top: 90px;
  }
 {

  font-family: 'Ubuntu', sans-serif;
}
body .navbar .navbar-brand span {
  font-size: 35px;
  position: relative;
  top: 8px;
  left: 15px;
  color: #3b7cb9;
}
body .navbar .navbar-brand img {
  width: 60px;
}
@media (max-width: 768px) {
  body .navbar .navbar-toggle {
    margin-top: 30px;
  }
}
body .navbar ul.nav.navbar-nav {
  margin-top: 25px;
  font-size: 16px;
}
body .navbar ul.nav.navbar-nav li a {
  padding: 10px 20px;
}
body .navbar ul.nav.navbar-nav li.active a {
  box-shadow: none;
  background: #3b7cb9;
  border-radius: 20px;
  color: #fff;
}
body .main {
  margin-top: 90px;
}
body .main {
  background-color: #f7f6f1;
}
