@import "bootstrap.min.css";
@import "bootstrap-theme.min.css";
@import "font-awesome.min.css";
@import "ir_black.css";
@import url("http://fonts.googleapis.com/css?family=Ubuntu:400,700");
@import url("http://fonts.googleapis.com/css?family=Ubuntu%20Mono");
body .navbar .navbar-brand span {
  font-size: 35px;
  position: relative;
  top: 8px;
  left: 15px;
  color: #3b7cb9;
}
body .navbar .navbar-brand img {
  width: 60px;
}
body .navbar .navbar-right section {
  max-width: 900px;
}
@media (max-width: 992px) and (min-width: 768px) {
  body .navbar .navbar-brand span {
    display: none;
  }
}
@media (max-width: 1240px) and (min-width: 768px) {
  body .navbar li:not(.active) span.text {
    display: none;
  }
}
body .navbar li span.text {
  padding-left: 10px;
}
@media (max-width: 768px) {
  body .navbar .navbar-left {
    float: left;
  }
  body .navbar .navbar-toggle {
    margin-top: 30px;
  }
}
@media (min-width: 768px) {
  body .navbar .col-left section {
    float: right;
  }
}
body .navbar ul.nav.navbar-nav {
  margin-top: 25px;
  font-size: 16px;
}
body .navbar ul.nav.navbar-nav li a {
  padding: 10px 20px;
  text-transform: uppercase;
}
body .navbar ul.nav.navbar-nav li.active a {
  box-shadow: none;
  background: #3b7cb9;
  border-radius: 20px;
  color: #fff;
}
.imprint {
  line-height: 50px;
  text-transform: uppercase;
}
.imprint a {
  color: #fff;
}
.company-or-project h4 {
  padding-top: 90px;
  border-bottom: 1px dotted #333;
  padding-bottom: 5px;
  text-decoration: none !important;
}
.company-or-project .col-md-4 {
  margin-top: 23px;
  text-align: right;
}
.company-or-project .mini-browser {
  height: 252px;
  width: 246px;
  display: inline-block;
}
.beige {
  background-color: #f7f6f1;
}
.light-blue {
  background-color: #4bafea;
}
.mid-blue {
  background-color: #3b7cb9;
}
.dark-blue {
  background-color: #314267;
}
.very-dark-blue {
  background-color: #14233d;
}
.light-blue,
.mid-blue,
.dark-blue,
.very-dark-blue {
  color: #fff;
}
.container-liquid {
  min-height: 100%;
}
.container-liquid .documentation {
  min-height: 100%;
  margin: 0;
}
.container-liquid .documentation > * {
  min-height: 100%;
}
body#search .jumbotron i.fa.fa-search {
  font-size: 160px;
}
@media (max-width: 992px) and (min-width: 768px) {
  body#search .jumbotron i.fa.fa-search {
    font-size: 120px;
  }
}
@media (max-width: 768px) {
  body#search .jumbotron i.fa.fa-search {
    font-size: 80px;
  }
}
@media (max-width: 500px) {
  body#search .jumbotron i.fa.fa-search {
    font-size: 50px;
  }
}
body#search .gsc-selected-option {
  font-size: 9px;
}
body#search .gscb_a {
  position: relative;
  top: 3px;
}
body#search .gsc-search-button {
  position: relative;
}
body#search .gsc-search-button:after {
  content: "Search";
  display: block;
  color: #000;
  position: absolute;
  top: 8px;
  left: 9px;
}
body#search .gsc-search-button input {
  height: 26px;
  position: relative;
  top: 1px;
}
.code-anchor {
  display: inline-block;
  text-decoration: none;
  color: #f8f8f8;
}
.code-anchor:hover,
.code-anchor:focus {
  background: #14233d;
  text-decoration: none;
  outline: 0;
  color: #f8f8f8;
}
body,
html {
  height: 100%;
}
body,
body h1,
body h2,
body h3,
body h4,
body h5 {
  font-family: 'Ubuntu', sans-serif;
}
body .headline-spacer {
  height: 90px;
}
body .full-height {
  height: 100%;
  max-height: 768px;
}
body .small-full-height {
  height: 100%;
  max-height: 400px;
}
body .documentation {
  background: #3b7cb9;
}
body .light-blue h2.centered,
body .mid-blue h2.centered,
body .dark-blue h2.centered {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}
body .light-blue h2.centered:not(:first-of-type),
body .mid-blue h2.centered:not(:first-of-type),
body .dark-blue h2.centered:not(:first-of-type) {
  margin-top: 80px;
}
body pre {
  border: 0;
  line-height: 30px;
  padding: 0;
}
body pre code {
  margin: 0 40px 40px 40px;
  background: transparent;
  font-family: 'Ubuntu Mono', Consolas, 'Liberation Mono', Courier, monospace;
  font-size: 18px;
}
body section .jumbotron {
  background: transparent;
}
body section.users .row > * {
  line-height: 100px;
}
body section.users img {
  width: 100%;
}
body .navigation a {
  color: #fff;
}
body .navigation > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
body .navigation > ul:first-of-type {
  margin-top: 30px;
}
body .navigation > ul > li {
  list-style-type: none;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  font-size: 20px;
  line-height: 60px;
}
body .navigation > ul > li:first-of-type {
  border-top: 1px solid rgba(255,255,255,0.2);
}
body .navigation > ul > li.active > a:first-of-type {
  color: rgba(255,255,255,0.6);
}
body .navigation > ul > li ul {
  list-style-type: none;
  margin: 0 0 10px 30px;
  padding: 0;
}
body .navigation > ul > li ul li {
  list-style-type: none;
  font-size: 16px;
  line-height: 40px;
  width: 200px;
}
body .sidebar {
  padding: 0 30px 30px 30px;
}
@media (min-width: 768px) {
}
body .content {
  padding: 30px;
}
body .content section {
  max-width: 900px;
}
body .content h2 {
  padding-top: 90px;
}
body .content h3 {
  padding-top: 90px;
}
body .content h4 {
  padding-top: 30px;
  text-decoration: underline;
}
body .content p {
  font-size: 18px;
  line-height: 36px;
}
body .content li {
  font-size: 16px;
  line-height: 32px;
}
body .content p code,
body .content li code {
  background: #3b7cb9;
  margin: 0 10px;
  color: #fff;
}
#documentation .navigation > ul > li {
  padding: 0px 20px;
}
#documentation .navigation > ul > li.active {
  background: #3876b0;
}
