@import "bootstrap.min.css"
@import "bootstrap-theme.min.css"
@import "font-awesome.min.css"
@import "ir_black.css"
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700)
@import url(http://fonts.googleapis.com/css?family=Ubuntu%20Mono)

@import '_header'
@import '_footer'
@import '_partner'
@import '_colors'
@import '_dimensions'
@import '_search'
@import '_code_highlighting'

body, html {
  height: 100%
}

body {
  &, h1, h2, h3, h4, h5 {
    font-family: 'Ubuntu', sans-serif;
  }

  .headline-spacer { height: 90px }
  .full-height { height: 100%; max-height: 768px }
  .small-full-height { height: 100%; max-height: 400px }
  .documentation { background: #3b7cb9 }

  .light-blue, .mid-blue, .dark-blue {
    h2.centered {
      text-transform: uppercase
      text-align: center
      margin-bottom: 30px

      &:not(:first-of-type) {
        margin-top: 80px
      }
    }
  }

  pre {
    border: 0;
    line-height: 26px
    padding: 0;

    code {
      margin: 0 10px;
      background:transparent;
      font-family: 'Ubuntu Mono', Consolas, 'Liberation Mono', Courier, monospace;
      font-size: 16px;
    }

    .view-raw {
      float: right;
      padding-right: 10px;
      cursor: pointer;
    }
  }

  section {
    .jumbotron {
      background: transparent;
    }

    &.users {
      .row > * {
        line-height: 100px
      }

      img {
        width: 100%
      }
    }
  }

  .navigation {
    a { color: white }

    > ul {
      list-style-type: none
      padding: 0
      margin: 0

      &:first-of-type {
        margin-top: 30px
      }

      > li {
        &:first-of-type {
          border-top: 1px solid rgba(255,255,255,0.2)
        }

        list-style-type: none
        border-bottom: 1px solid rgba(255,255,255,0.2)
        font-size: 18px
        padding: 20px !important

        &.active {
          > a:first-of-type {
            color: rgba(255,255,255,0.6)
          }
        }

        ul {
          margin: 0 0 0 20px
          padding: 0

          li {
            list-style-type: circle
            font-size: 14px
            line-height: 28px
            width: 250px
          }
        }
      }
    }
  }

  .sidebar {
    padding: 0 0px 30px 27px
  }

  .sidebar, .navbar .navbar-left {
    @media (min-width: 768px) {
      section {
        display: inline-block
      }
    }
  }

  .content {
    padding: 30px


    section {
      max-width: 900px
      min-height: 2800px
    }

    h2 { padding-top: 90px }
    h3 { padding-top: 90px }
    h4 { padding-top: 30px; text-decoration: underline }

    p {
      font-size: 16px
      line-height: 26px
    }

    li {
      font-size: 16px
      line-height: 32px
    }

    p, li {
      code {
        background: mid-blue;
        margin: 0 10px;
        color: white;
      }
    }
  }
}

#documentation {
  .navigation > ul > li {
    padding: 0px 20px;

    &.active {
      background: darken(mid-blue, 5%);
    }
  }
}
