@import "bootstrap.min.css"
@import "bootstrap-theme.min.css"
@import url(http://fonts.googleapis.com/css?family=Ubuntu)

body {
  @import '_header'

  font-family: 'Ubuntu', sans-serif;

  .main {
    background-color: #f7f6f1
  }
}


