<div class="row">
  <div class="span12">
    <h4>Company & Projects</h4>
    <p>
      Here is a list of companies and projects that are using Sequelize in real world applications:

      <div class="company-or-project">
        <span class="row-fluid">
          <span class="span9">
            <h5><a href="http://www.shutterstock.com" rel="nofollow" target="_blank">Shutterstock</a></h5>
            <p>
              Shutterstock Images LLC is a leading global provider of high-quality stock footage, stock photography, vectors and illustrations to creative industry professionals around the world. Shutterstock works closely with its growing contributor community of artists, photographers, videographers and illustrators to curate a global marketplace for royalty-free, top-quality imagery. Shutterstock adds tens of thousands of rights-cleared images and footage clips each week, with more than 18 million files currently available.
            </p>
          </span>
          <span class="span3 mini-browser-container">
            <div class="mini-browser" data-img-url="/img/shutterstock.jpg"></div>
          </span>
        </span>
      </div>

      <div class="company-or-project">
        <span class="row-fluid">
          <span class="span9">
            <h5><a href="https://innofluence.com" rel="nofollow" target="_blank">Innofluence</a></h5>
            <p>
              On Innofluence, people meet and engage in challenges, questions, and dilemmas – big and small – to be inspired, to explore, and to find better solutions and answers. Together. Ask the network a question, and they will in return reply with Input, exciting points of view, and new reflections. Or help and inspire others in need of your input.
            </p>
          </span>
          <span class="span3 mini-browser-container">
            <div class="mini-browser" data-img-url="/img/innofluence.jpg"></div>
          </span>
        </span>
      </div>

      <div class="company-or-project">
        <span class="row-fluid">
          <span class="span9">
            <h5><a href="http://moxboxx.com" rel="nofollow" target="_blank">moxboxx</a></h5>
            <p>
              moxboxx is a playlist sharing service that utilizes Youtube, Vimeo and Soundcloud. It’s a pretty fun project to hack on and is in constant development as more things are added and removed via testing and feedback. Kudos go to <a href="http://ednapiranha.com/" rel="nofollow" target="_blank">ednapiranha</a>.
            </p>
          </span>
          <span class="span3 mini-browser-container">
            <div class="mini-browser" data-img-url="/img/moxboxx.jpg"></div>
          </span>
        </span>
      </div>

      <div class="company-or-project">
        <span class="row-fluid">
          <span class="span9">
            <h5><a href="http://metamarkets.com/" rel="nofollow" target="_blank">Metamarkets</a></h5>
            <p>
              Metamarkets enables buyers and sellers of digital media to visualize insights and make decisions with real-time pricing, performance, and audience data.
            </p>
          </span>
          <span class="span3 mini-browser-container">
            <div class="mini-browser" data-img-url="/img/metamarkets.jpg"></div>
          </span>
        </span>
      </div>

      <div class="company-or-project">
        <span class="row-fluid">
          <span class="span9">
            <h5><a href="https://github.com/sequelize/sequelize/tree/gh-pages" rel="nofollow" target="_blank">Using sequelize?</a></h5>
            <p>
              If you want to get listed here, just drop me a line or send me a pull-request on Github!
            </p>
          </span>
          <span class="span3 mini-browser-container">
            <div class="mini-browser" data-img-url="/img/github.jpg"></div>
          </span>
        </span>
      </div>
    </p>

    <br><br>
  </div>
</div>
