extends layout

block content
  section.beige(style="margin-top: 80px")
    .container
      .jumbotron
        h2
          |Imprint
          <small>Boring legal stuff for the rest of us.</small>
        p.lead
          | As there are people who are suing for fun and glory, you can find the respective information about the author of the page right here. Have fun reading ...

  section.light-blue
    .container
      .jumbotron
        h2.centered Author(s)
        pre.dark-blue
          code.skip
            | Main author:
            | &nbsp;
            | Sascha Depold
            | Uhlandstr. 122
            | 10717 Berlin
            | sascha [at] depold [dot] com

        h2.centered Inhaltliche Verantwortung
        pre.dark-blue
          code.skip
            | Ich übernehme keine Haftung für ausgehende Links.
            | Daher musst du dich bei Problemen an deren Betreiber wenden!
