extends ../../layouts/with-sidebar

block documentation
  section
    div
      h2 Misc

      h3#compatibility Compatibility
      p Sequelize is compatible to the following versions of Node.JS:
      ul
        li 0.8.x
        li 0.10.x

      h3#asynchronicity Asynchronicity
      p
        | Since
        code v1&period;3&period;0
        | there are multiple ways of adding listeners to asynchronous requests&period; First of all&comma; each time you call a finder method or save an object&comma; sequelize triggers asynchronous logic&period; To react to the success or the failure &lpar;or both&rpar; of the request&comma; you can do the following&colon;
      pre.dark-blue
        code.javascript
          | // the old, pre-v1.3.0 way
          | Model.findAll().on('success', function(models) { /* foo */ })
          | Model.findAll().on('failure', function(err) { /* bar */ })
          | &nbsp;
          | // the new, >=v1.3.0 way
          | // each one is valid
          | Model.findAll().on('success', function(models) { /* foo */ })
          | Model.findAll().success(function(models) { /* foo */ })
          | Model.findAll().ok(function(models) { /* foo */ })
          | &nbsp;
          | // Model.findAll().on('failure', function(err) { /* bar */ }) ==> invalid since v1.5.0
          | Model.findAll().on('error', function(err) { /* bar */ }) //   ==> new since v1.5.0
          | Model.findAll().error(function(err) { /* bar */ })
          | Model.findAll().failure(function(err) { /* bar */ })
          | Model.findAll().fail(function(err) { /* bar */ })
          | &nbsp;
          | Model.findAll().complete(function(err, result) { /* bar */ })
          | Model.findAll().done(function(err, result) { /* bar */ })
          | &nbsp;
          | // As of 1.7.0 we support Promises/A
          | var self = User
          | &nbsp;
          | user.find(1).then(function(user1) {
          |   return user1.increment(['aNumber'], 2)
          | }).then(function(user2) {
          |   return user.find(1)
          | }).then(function(user3) {
          |   console.log(user3.aNumber) // 2
          | }, function(err) {
          |   // err...
          | })

      p
        strong Please notice&colon;
        | Since v1&period;5&period;0 the &apos;error&apos; event is used to notify about errors&period; If such events aren&apos;t caught however&comma; Node&period;JS will throw an error&period; So you would probably like to catch them &colon;D


      h3#links(data-nav-value='Links') Additional links
      p
        | If you want to keep track about latest development of sequelize or to just discuss things with other sequelize users you might want to take a look at the following resources&colon;
      ul
        li
          a(href='http://twitter.com/sdepold', rel='nofollow', target='_blank') Twitter&colon; &commat;sdepold
        li
          a(href='http://twitter.com/sequelizejs', rel='nofollow', target='_blank') Twitter&colon; &commat;sequelizejs
        li
          a(href='https://alpha.app.net/sdepold', rel='nofollow', target='_blank') ADN&colon; &commat;sdepold
        li
          a(href='irc://irc.freenode.net/sequelizejs') IRC&colon; sequelizejs&commat;freenode&period;net
        li
          a(href='https://www.xing.com/net/priec1b5cx/sequelize', rel='nofollow', target='_blank') XING
        li
          a(href='https://www.facebook.com/sequelize', rel='nofollow', target='_blank') Facebook


      h3#company---projects Company & Projects
      p
        | Here is a list of companies and projects that are using Sequelize in real world applications&colon;
      .company-or-project
        .row
          .col-md-8
            h4#shutterstock
              a(href='http://www.shutterstock.com', rel='nofollow', target='_blank') Shutterstock
            p
              | Shutterstock Images LLC is a leading global provider of high-quality stock footage&comma; stock photography&comma; vectors and illustrations to creative industry professionals around the world&period; Shutterstock works closely with its growing contributor community of artists&comma; photographers&comma; videographers and illustrators to curate a global marketplace for royalty-free&comma; top-quality imagery&period; Shutterstock adds tens of thousands of rights-cleared images and footage clips each week&comma; with more than 18 million files currently available&period;
          .col-md-4.mini-browser-container
            .mini-browser(data-img-url='/images/users/shutterstock.jpg')
      .company-or-project
        .row
          .col-md-8
            h4#clevertech
              a(href='http://www.clevertech.biz', rel='nofollow', target='_blank') Clevertech
            p
              | Clevertech builds web and mobile applications for startups using Lean and Agile methodologies. Clevertech relies on Sequelize for its applications, its speed, versatility and data flexibility. Clevertech contributes back to open source development and its expert developers support the continuing effort to make sequelize the best ORM for Node projects.
          .col-md-4.mini-browser-container
            .mini-browser(data-img-url='/images/users/clevertech.jpg')
      .company-or-project
        .row
          .col-md-8
            h4#metamarkets
              a(href='http://metamarkets.com/', rel='nofollow', target='_blank') Metamarkets
            p
              | Metamarkets enables buyers and sellers of digital media to visualize insights and make decisions with real-time pricing&comma; performance&comma; and audience data&period;
          .col-md-4.mini-browser-container
            .mini-browser(data-img-url='/images/users/metamarkets.jpg')
      .company-or-project
        .row
          .col-md-8
            h4#innofluence
              a(href='https://innofluence.com', rel='nofollow', target='_blank') Innofluence
            p
              | On Innofluence&comma; people meet and engage in challenges&comma; questions&comma; and dilemmas &ndash; big and small &ndash; to be inspired&comma; to explore&comma; and to find better solutions and answers&period; Together&period; Ask the network a question&comma; and they will in return reply with Input&comma; exciting points of view&comma; and new reflections&period; Or help and inspire others in need of your input&period;
          .col-md-4.mini-browser-container
            .mini-browser(data-img-url='/images/users/innofluence.jpg')
      .company-or-project
        .row
          .col-md-8
            h4#company---projects-using-sequelize-
              a(href='https://github.com/sequelize/sequelize/tree/gh-pages', rel='nofollow', target='_blank') Using sequelize&quest;
            p
              | If you want to get listed here&comma; just drop me a line or send me a pull-request on Github&excl;
          .col-md-4.mini-browser-container
            .mini-browser(data-img-url='/images/users/github.jpg')
      br
      br
