extends ../layouts/with-sidebar

block documentation
  section
    div
      h2= "Changes in " + version

      h3 Fasten your seatbelts. Timewarp starts soon.
      p This page contains the history of the project. Thanks to anyone who has been involved in the development and who has been reporting issues. A special thanks goes to the core contributors as well. Things would be pretty hard without them :)

      each lines, title in data
        h3(id=title)= title.charAt(0).toUpperCase() + title.slice(1)

        ul
          each line in lines
            li!= line
