<header class="jumbotron subhead" id="overview">
  <div class="row">
    <div class="span12">
      <h2>
        Imprint
        <small>Boring legal stuff for the rest of us.</small>

        <a href="http://flattr.com/thing/1259407/Sequelize" target="_blank" style="float: right; position: relative; top: 10px;">
          <img src="http://api.flattr.com/button/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0" />
        </a>
      </h2>
      <p class="lead">
        As there are people who are suing for fun and glory, you can find the respective information about the author of the page right here. Have fun reading ...
      </p>
    </div>
  </div>
</header>

<section>
  <h3>Author(s)</h3>

  <ul class="unstyled">
    <li>
      <strong>Main author:</strong>
      <ul>
        <li>Sascha Depold</li>
        <li>Uhlandstr. 122</li>
        <li>10717 Berlin</li>
        <li>sascha [at] depold [dot] com</li>
      </ul>
    </li>
  </ul>
</section>

<section>
  <h3>Inhaltliche Verantwortung</h3>
  <p>
    Ich übernehme keine Haftung für ausgehende Links. Daher musst du dich bei Problemen an deren Betreiber wenden!
  </p>
</section>
