<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Sequelize &raquo; A MySQL Object-Relational-Mapper for NodeJS</title>

    <link href="/stylesheets/bootstrap.min.css">
    <link href="/stylesheets/bootstrap-responsive.min.css">

    <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-9039631-4']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Project name</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <%- body %>
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/javascripts/jquery-1.7.1.min.js"></script>
    <script src="/javascripts/bootstrap-transition.js"></script>
    <script src="/javascripts/bootstrap-alert.js"></script>
    <script src="/javascripts/bootstrap-modal.js"></script>
    <script src="/javascripts/bootstrap-dropdown.js"></script>
    <script src="/javascripts/bootstrap-scrollspy.js"></script>
    <script src="/javascripts/bootstrap-tab.js"></script>
    <script src="/javascripts/bootstrap-tooltip.js"></script>
    <script src="/javascripts/bootstrap-popover.js"></script>
    <script src="/javascripts/bootstrap-button.js"></script>
    <script src="/javascripts/bootstrap-collapse.js"></script>
    <script src="/javascripts/bootstrap-carousel.js"></script>
    <script src="/javascripts/bootstrap-typeahead.js"></script>

  </body>
</html>
