<div class="row">
  <div class="span12">
    <% ['teaser', 'one_to_one', 'one_to_many', 'many_to_many', 'associating', 'check', 'foreign_keys'].each do |section| %>
      <%= markdown("documentation/sections/associations/#{section}".to_sym) %>
    <% end %>
  </div>
</div>
