<div class="row">
  <div class="span12">
    <% ['build', 'create', 'update', 'destroy', 'values', 'reload', 'increment', 'decrement'].each do |section| %>
      <%= markdown("documentation/sections/instances/#{section}".to_sym) %>
    <% end %>
  </div>
</div>
