<div class="row">
  <div class="span12">
    <% ['teaser', 'binary', 'skeleton', 'functions'].each do |section| %>
      <%= markdown("documentation/sections/migrations/#{section}".to_sym) %>
    <% end %>
  </div>
</div>
