<div class="row">
  <div class="span12">
    <% ['teaser', 'underscore', 'query_chainer'].each do |section| %>
      <%= markdown("documentation/sections/utils/#{section}".to_sym) %>
    <% end %>
  </div>
</div>
