light-blue = #4BAFEA
beige      = #f7f6f1
mid-blue   = #3B7CB9
dark-blue  = #314267

.beige { background-color: beige }
.light-blue { background-color: light-blue }
.mid-blue { background-color: mid-blue }
.dark-blue { background-color: dark-blue }

.light-blue, .mid-blue, .dark-blue {
  color: white
}
