extends ../layouts/with-sidebar

block documentation
  section
    div
      h2 Blog - Overview

      each section in sections
        h3= section.title
        != section.teaser

        p
          a(href=section.url) Continue reading ...
