<div class="row-fluid">
  <div class="span12">
    <%= erb "blog/_header".to_sym %>
  </div>
</div>

<div class="row-fluid">
  <div class="span7">
    <%= post.content.sub(post.teaser_image, '') %>
  </div>
  <div class="span5 well" style="margin-top: 110px">
    <%= post.teaser_image %>
  </div>
</div>
