extends ../layout

block content
  .container
    .row
      .col-md-3.mid-blue
        .headline-spacer
        section.navigation
          h2 Documentation
          ul
            each subs, name in sections
              - isActiveSection = (name === section)
              - sectionPath     = "/docs/" + version + "/" + name
              li(class=(isActiveSection ? 'active' : ''))
                a(href=sectionPath)= name.charAt(0).toUpperCase() + name.slice(1)
                if isActiveSection && subs.length > 0
                  ul
                    each item in subs
                      li
                        a(href=sectionPath + "#" + item.anchor)= item.text
      .col-md-9.beige(style="padding-bottom: 30px")
        .headline-spacer
        block documentation
